#advisory
  .am-search.am-search-start
    .am-search-input
      input[type="search"]
        opacity: 1;
        padding: 0 0.74667rem 0 1.33333rem;
  .am-search-input
    .am-search-clear
      top 0.16rem
      right 0.16rem
   .advisory-content
     padding-top 43.98px
     .search-bar
       position: absolute;
       top: 43.98px;
       right: 0;
       left: 0;
   .list
     > .list-content
       > li
         height: 75px;
         width: 100%;
         display: flex;
         flex-wrap: nowrap;
         .thumb
           width 110px
           padding 8px
           img
             width 100%
             height 100%
         .extra
           line-height 1.2
           flex-grow 1
           padding: 8px 0;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           > p
            color #333
           > timer
             font-size 12px
             color #777
