#job
  .job-content
    color #333
    p
      font-style: 12px
      line-height 1.4
    .am-card-header-content
      color #e60011
    .am-card
      padding-bottom 0
      margin-bottom 10px
    .am-accordion .am-accordion-item .am-accordion-header,
    .am-list-item
      padding-left 0
    .am-list-item .am-list-line .am-list-content
      font-size 14px