#goldAllusion
  .goldAllusion-content
    .tab-item
      height calc(100vh - 43px)
      overflow auto
      ul
        > li
          display flex
          justify-content space-between
          font-size: 14px
          line-height: 1.4
          padding 12px 16px
          border-bottom: 1px solid #ddd
          img
            width 14px
            height 14px