#unionDetail
  .unionDetail-content
    line-height 1.4
    height 100%
    header
      background-color #fff
      padding 8px 16px
      margin-bottom 8px
      section
        font-size 12px
        h2
          font-size 14px
          padding-bottom 8px
          font-weight 600
        p
          color: #bbb
          span
            color #333
    main
      height 100%
      background-color: #fff;
      padding 8px 16px
      h2
        font-size 14px
        padding-bottom 8px
        font-weight 600
      p
        font-size: 12px
        height 100%