#patentLibrary
  .patentLibrary-content
    .list
      font-size 12px
      height: 100vh;
      overflow: auto;
      > li
        display: flex
        justify-content space-around
        align-items center
        padding: 17px 12px
        border-bottom 1px solid #ddd
        line-height 1.4
        span:nth-child(1)
          width 83px
          color #5c93fc
        span:nth-child(2)
          width 25px
          display: flex
          justify-content center
          align-items center
        span:nth-child(3)
          width 70px
        span:nth-child(4)
          width 50px
          display: flex
          justify-content center
          align-items center
      li:nth-child(1)
        padding: 8px 12px
        span:nth-child(1)
          color #333
      li:nth-child(2)
        padding: 8px 12px
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        background-color: #fff;
        span:nth-child(1)
          color #333