#login
  .am-tabs-default-bar
    width 200px
  .am-tabs-default-bar-top .am-tabs-default-bar-content, .am-tabs-default-bar-bottom .am-tabs-default-bar-content
    //width 150px
  .am-list-item .am-input-label.am-input-label-5
    width 0.66667rem
  .am-list-item .am-input-control input
    font-size 14px
  .am-radio
    border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 18px;
    .am-radio-inner:after
      border-color #ffda79