#forget
  .am-tabs-default-bar
    justify-content center
  .am-tabs-default-bar-top .am-tabs-default-bar-content, #login .am-tabs-default-bar-bottom .am-tabs-default-bar-content
    width 2rem
  .am-list-item .am-input-label.am-input-label-5
    width 0.66667rem
  .am-list-item .am-input-control input
    font-size 14px