#lectureHall
  .lectureHall-content
    height: 100vh;
    overflow: auto;
    main
      p
        padding 20px 15px 0px 15px
      .recent-active
        .am-list-content, .am-list-extra
          background-color: #eee;