.goldLibraryDetailForm-component
  width: 100%;
  height:auto;
  background-color: #F5F5F5;
  position: absolute;
  top:0;
  transition: .5s;
  .sex-line_label
    display: inline-block;
    width:85px;
  .sexSelector
    display: inline-block;
    .my-radio:nth-child(2)
      margin: 0 30px;
    .my-radio .am-radio
      padding: 2.5px;
      border: 1px solid #ccc;
      border-radius: 50%;
      margin-right: 5px;
    .am-radio-inner:after
      top:-0.2rem;
      right:0.03rem;
  .submit-btn
    margin: 18px 48px 74px 48px;
    background-color: #F3B439;
  .am-list-item .am-list-line .am-list-arrow
    background-image none
  .am-list-item .am-list-line .am-list-extra
    text-align: left;
    //position: relative;
    //left: -108px;
    margin-left: 10px;
  .am-list-item .am-input-label.am-input-label-5
    width: auto
  .am-list-item .am-list-line .am-list-content
    flex-grow 0
    flex: initial;
  .am-image-picker-list .am-flexbox .am-flexbox-item
    width 80px
  .am-textarea-label.am-textarea-label-5
    width auto