#mine
  .background
    width 375px
    height 210px
    background url('./img/背景@2x.png')
    margin-bottom 8px
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar
      display: flex;
      flex-direction: column;
      align-items: center;
      color #f1b347
      img
        border-radius 50%
      span
        margin-top 6px
  .am-card
    min-height auto
