#mine
  .background
    width 375px
    height 210px
    background url('http://temp.im/375x210')
    margin-bottom 8px
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar
      display: flex;
      flex-direction: column;
      align-items: center;
      img
        border-radius 50%
      span
        margin-top 6px
        color: #fff
  .am-card
    min-height auto
